<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />

  <title>ChatRoom</title>
</head>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #198754;
  }

  textarea {
    overflow-y: scroll;
    height: 300px;
    resize: none;
    /* Remove this if you want the user to resize the textarea */
  }
</style>

<body>

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">SmartChat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li> -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Hello! {{request.user}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'loginPage' %}">Login</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1" class="h4 pt-5">Chatroom</label>
            <textarea readonly class="form-control" id="chat-text" rows="10"></textarea><br>
          </div>
          <div class="form-group">
            <input class="form-control" id="input" type="text" autocomplete="off"></br>
          </div>
          <input class="btn btn-secondary btn-lg btn-block" id="submitid" type="button" value="Send">
        </form>
        <!-- <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Upload">
        </form> -->
      </div>
    </div>
  </div>
  {{room_name|json_script:"room-name"}}
  {{request.user.username|json_script:"user_username"}}

  <script>
    const user_username = JSON.parse(document.getElementById('user_username').textContent);
    const roomName = JSON.parse(
      document.getElementById("room-name").textContent
    );
    console.log(user_username)
    document.querySelector('#submitid').onclick = function (e) {
      const messageInputDom = document.querySelector('#input')
      const message = messageInputDom.value;
      chatSocket.send(JSON.stringify({
        'message': message,
        'username': user_username,
      }));
      messageInputDom.value = '';
    }


    const chatSocket = new WebSocket(
      'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data)
      console.log(data)
      document.querySelector('#chat-text').value += (data.username + " : " + data.message + '\n')
    }


  </script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</body>

</html>